body {
    font-family: sans-serif;
    background-image: url(./img/star-wars.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#persons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.information-person {
    align-items: center;
    justify-items: center;
    width: 25%;
    padding: 10px;
    margin: 15px;
}

#planets {
    background-color: rgb(18, 1, 253);
    border: 5px solid rgb(1, 253, 253);
    border-radius: 2em;
}

.information-person{
    text-align: center;
    background-color: rgba(252, 248, 7, 0.9);
    border-radius: 2em;
}

li {
    list-style-type: none;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

input {
    border: 2px solid black;
    border-radius: 10em;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    color: rgb(0, 0, 0);
}

#information {
    border: 2px solid black;
    border-radius: 10em;
    background: rgb(18, 1, 253);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#information:hover {
    background: rgb(253, 18, 1);
}

#information:active {
    background: rgb(60, 253, 1);
    color: black;
} 

.list-of-planets {
    width: 20%;
    text-align: center;
    color: rgb(255, 255, 255);
    height: 75vh;
}

#prev,
#next {
    border: 4px solid black;
    border-radius: 10em;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
} 

#page-number {
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10em;
}

.nav {
    padding: 15px;
}